{# PyDomoSvr Jinja2 template to include in PyDomoSvr-main.htm #}

<div class="container">

  <div class="starter-template">
    <h1>Camera Snapshots</h1>
    <h3>{{ datetime_stamp }}</h3>
    {% for snapshot in snapshots %}
        <hr>
        {% if snapshot %}
            <img src="data:image/jpeg;base64,{{ snapshot.jpeg_base64 }}" class="img-responsive" alt="Camera snap shot">
            {% if snapshot.nightViewEn %}
              <br>
              <div class="row">
                <div class="col-xs-3">
                  <form method="post">
                    <input type="hidden" class="form-control" name="camIdx" value="4">
                    <input type="hidden" class="form-control" name="IRLed" value="1">
                    <button type="submit" class="btn btn-success">Lights ON</button>
                  </form>
                </div>
                <div class="col-xs-3">
                  <form method="post">
                    <input type="hidden" class="form-control" name="camIdx" value="4">
                    <input type="hidden" class="form-control" name="IRLed" value="0">
                    <button type="submit" class="btn btn-danger">Lights OFF</button>
                  </form>
                </div>
              </div><!-- /.row -->
            {% endif %}
        {% else %}
            <img src="img/camera_not_found.png" class="img-responsive" alt="Camera not found">
        {% endif %}
    {% endfor %}
  </div>

</div><!-- /.container -->
