{# PyDomoSvr Jinja2 template to include in PyDomoSvr-main.htm #}

<div class="container">

  <div class="starter-template">
    <h1>Camera Snapshots</h1>
    <h3>{{ datetime_stamp }}</h3>
    {% for jpeg_base64 in jpeg_base64_list %}
        <hr>
        {% if jpeg_base64 %}
            <img src="data:image/jpeg;base64,{{ jpeg_base64 }}" class="img-responsive" alt="Camera snap shot">
        {% else %}
            <img src="img/camera_not_found.png" class="img-responsive" alt="Camera not found">
        {% endif %}
    {% endfor %}
  </div>

</div><!-- /.container -->
