{
    "_rem-desc": "CONFIGURATION TEMPLATE FOR PYDOMOSVR",

    "_rem-definition_0": "dictionary keys beginning with _ are comments",
    "_rem-definition_1": "metadata are vaules surrounded by the characters < and >",
    "_howto-customize": "Replace the metadata with actual values",

    "_rem-todo-first": "Copy this file in PyDomoSvr.json",
    "_rem-todo-after": "Customize the metadata",

    "_rem-site-configuration": "Host configuration parameters",
    "site": {
        "title": "Define the <title> and <navbar-brand> tags of the HTML document",

        "_rem-host-name": "Set to '0.0.0.0' to have the server available externally, otherwise 'localhost'",
        "host": {
            "name" : "<hostname_to_listen_on>",
            "port": "<webserver_port>"
        },
        "auth": {
            "user-name" : "<site_admin_username>",
            "password": "<site_admin__password>"
        },
        "ssl": {
            "certfile" : "<ssl certificate>",
            "keyfile" : "<ssl private key>"
        },
        "run-user" : "<least privileged user running the server process>"
    },

    "_rem-camera-list": "List of supported cameras",
    "cameras-list": [
        {
            "optional-auth": {
                "user-name" : "<camera_0 user>",
                "password": "<camera_0 password>"
            },
            "source": "<camera_0 protocol_and_address>"
        },
        {
            "source": "<camera_1 protocol_and_address>"
        },
        {
            "optional-auth": {
                "user-name" : "<camera_2 user>",
                "password": "<camera_2 password>"
            },
            "source": "<camera_2 protocol_and_address>"
        }
    ]
}
